
.jumbotron {
    background-color: greenyellow;
    color: black;
    /* background-image: url("https://media.giphy.com/media/M1gf4DBhCWgeI/giphy.gif"); 
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    background-size: auto; */

}

/* #clock {
    width: 300px;
    height: 100px;
    background-color: black;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    color: greenyellow;
    font-size: 3em;

} */