
.jumbotron {
    background-color: brown;
    color: aliceblue;

}

/* #clock {
    width: 300px;
    height: 100px;
    background-color: black;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    color: greenyellow;
    font-size: 3em;

} */